#earbuds-view-rotation {
    max-width: 100%;
  }


  .connect{
    background: linear-gradient(to right, #d48eff, #E681B5); -webkit-background-clip: text; background-clip: text; color: transparent;
  }

  .connect2{
    background: linear-gradient(to right, #d48eff, #E681B5); -webkit-background-clip: text; background-clip: text; color: transparent;
  }